numpy
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
sentencepiece
transformers
sentence-transformers
beautifulsoup4
lxml
python-dotenv
urllib3==1.26.6
spacy
Werkzeug==2.2.2
Flask==2.0.1